<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="./assets/forgotpass/styles.css" />
    <script src="./assets/forgotpass/script.js" defer></script>
  </head>
  <body>
    <nav>
      <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
      </div>
    </nav>
    <main>
      <div>
        <h2>Forgot Password</h2>
        <form id="form">
          <label for="email-intput">Email</label>
          <input type="email" name="email" id="email-input" required />
          <button type="submit">Send</button>
        </form>
        <div>
          <p id="message"></p>
        </div>
      </div>
    </main>
  </body>
</html>
