<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./assets/login/styles.css" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="./assets/login/script.js" defer></script>
  </head>
  <body>
    <nav>
      <div>
        <a href="/">Home</a>
        <a href="/register">Register</a>
      </div>
    </nav>
    <main>
      <div>
        <h2>Login</h2>
        <form id="form">
          <label for="email-input">Email</label>
          <input type="email" name="email" id="email-input" required />
          <label for="password-input">Password</label>
          <input type="password" name="password" id="password-input" required />
          <button type="submit">Submit</button>
        </form>
        <p>
          <em> This Work and Server Get The Data, but Not Storing to "DB"</em>
        </p>
        <div
          id="g_id_onload"
          data-client_id="735831968563-5ivsphfm9kl0n961qtts4rl8amd04ilb.apps.googleusercontent.com"
          data-login_uri="http://localhost:8080/oauth"
          data-auto_prompt="false"
          data-ux_mode="redirect"
        ></div>
        <div
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      </div>
    </main>
  </body>
</html>
