<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="./assets/profile/styles.css" />
    <script src="./assets/profile/script.js" defer></script>
  </head>
  <body>
    <nav>
      <div>
        <a href="/">Home</a>
      </div>
    </nav>
    <main>
      <div>
        <h2>Profile</h2>
        <form id="form">
          <label for="email-input">Email</label>
          <input
            type="email"
            name="email"
            id="email-input"
            value="{{.Email}}"
          />
          <label for="name-input">Name</label>
          <input type="text" name="name" id="name-input" value="{{.Name}}" />
          <div class="address-input">
            <label for="region-input">Region</label>
            <input
              type="text"
              name="region"
              id="region-input"
              value="{{.Region}}"
            />
            <div>
              <label
                for="region-select"
                style="visibility: hidden"
                aria-label="Region Selection"
              ></label>
              <select id="region-select"></select>
            </div>
          </div>
          <div class="address-input">
            <label for="street-input">Street</label>
            <input
              type="text"
              name="street"
              id="street-input"
              value="{{.Street}}"
              disabled
            />
            <div>
              <label
                for="street-select"
                style="visibility: hidden"
                aria-label="Street Selection"
              ></label>
              <select id="street-select" disabled></select>
            </div>
          </div>
          <label for="password-input">Password</label>
          <input
            type="password"
            name="password"
            id="password-input"
            value="{{.Password}}"
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
