<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="./assets/register/styles.css" />
    <script src="./assets/register/script.js" defer></script>
  </head>
  <body>
    <nav>
      <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
      </div>
    </nav>
    <main>
      <div>
        <h2>Register</h2>
        <form id="form">
          <label for="email-input">Email</label>
          <input type="email" name="email" id="email-input" required />
          <label for="name-input">Name</label>
          <input type="text" name="name" id="name-input" required />
          <div class="address-input">
            <label for="region-input">Region</label>
            <input type="text" id="region-input" required />
            <div>
              <label
                for="region-select"
                style="visibility: hidden"
                aria-label="Region Selection"
              ></label>
              <select id="region-select"></select>
            </div>
          </div>
          <div class="address-input">
            <label for="street-input">Address</label>
            <input
              type="text"
              name="address"
              id="street-input"
              required
              disabled
            />
            <div>
              <label
                for="street-select"
                style="visibility: hidden"
                aria-label="Street Selection"
              ></label>
              <select id="street-select" disabled></select>
            </div>
          </div>
          <label for="password-input">Password</label>
          <input type="password" name="password" id="password-input" required />
          <button type="submit">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
