<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="./assets/resetpass/styles.css" />
    <script src="./assets/resetpass/script.js" defer></script>
  </head>
  <body>
    <nav>
      <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
      </div>
    </nav>
    <main>
      <div>
        <h2>Reset Password</h2>
        <form id="form">
          <label for="password-input">Password Input</label>
          <input type="password" name="password" id="password-input" required />
          <button type="submit">Send</button>
        </form>
      </div>
    </main>
  </body>
</html>
